    <!-- Site footer -->
    
      <!-- Some social button for contact will do -->
      <a name="contact"></a>
      <hr>
      <div class="container">
            <div class="footer">
        <div class="row">
          <div class="col-lg-6">
              <p>&copy; MohitPunjabi 2020</p>
          </div>
          <div class="col-lg-6 text-right">
            Connect with us on
            <a href="https://twitter.com/mohitpunjabi7"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </div>
            </div>
      </div>
